@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Londrina+Solid:wght@100;300;400;900&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Sans+Avestan&family=Nova+Mono&family=Quicksand:wght@300..700&family=Sigmar+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.quicksand{
  font-family: "General Sans";
  font-optical-sizing: auto;
  font-style: normal;
}



@Layer base{
  .searchitems{
    @apply w-[25px] lg:w-[30px] xl:w-[35px] 2xl:w-[40px] h-[25px] lg:h-[30px] xl:h-[35px] 2xl:h-[40px] flex justify-center items-center bg-[#C6EA60] rounded-[47px]  
  }
  .searchAreass{
    @apply rounded-[70px] flex items-center lg:w-[500px] xl:w-[600px] 2xl:w-[773px] py-[3px] sm:py-[4px] lg:py-[4px] pl-[12px] sm:pl-[15px] lg:pl-[20px] pr-[4px] sm:pr-[5px] lg:pr-[6px]  gap-[6px] lg:gap-[10px] justify-between 
  }
}

@Layer utilities{
  .searchAreass{
    border-radius: 70px;
    background: #FFF;
    transition-duration: 1s;
  }
  .searchAreass:hover{
    box-shadow: 0px 112px 136px 0px rgba(23, 30, 3, 0.14), 0px 40.882px 46.953px 0px rgba(23, 30, 3, 0.10);
  }
  .inputsylingsafse{
    color: #000;
    font-family: "General Sans" !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .inputsylingsafse::placeholder {
    color: #000;
    font-family: "General Sans" !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .submitbutton{
    font-family: "General Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .filterbutton{
    color: #201F1F;
    font-family: "General Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: rgba(14, 19, 1, 0.05);
  }
  .figmavlue{
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20.625px;
    border-radius: 16px;
    border: 1px solid #F3F4F1;
    background: #FFF;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
  }
  .figmavlue:hover{
    box-shadow: 0px 100px 80px 0px rgba(188, 193, 189, 0.07), 0px 41.778px 33.422px 0px rgba(188, 193, 189, 0.05), 0px 22.336px 17.869px 0px rgba(188, 193, 189, 0.04), 0px 12.522px 10.017px 0px rgba(188, 193, 189, 0.04), 0px 6.65px 5.32px 0px rgba(188, 193, 189, 0.03), 0px 2.767px 2.214px 0px rgba(188, 193, 189, 0.02);
    transform: scale(1.03);
  }
  .valueimage{
    border-radius: 12px;
    border: 1px solid #F5F5F5;
  }
  .Signup{
    color: #000;
    font-family: "General Sans";
    font-size: 18.563px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .date{
    align-self: stretch;
    color: #000;
    font-family: "General Sans";
    font-size: 14.438px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .copybutton {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  }
  
  .searchitems:hover .copybutton {
    visibility: visible; 
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
  }
  /* .container {
    padding-left: 50px;
    padding-right: 50px;
  } */
  

}